/****** BASE STYLES ******/

/*color: #cb806f */


body {
  font-family: "Source Sans Pro", sans-serif;
color: whitesmoke;
background-size: cover;
 
  background: url(../assets/images/sunset.jpg) no-repeat  center center fixed;
  height:100vh;

  width: 100%;
  overflow: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/****** GRID ******/

.full-width {
  /*  width: 1200px; */
  margin: 0 auto;
}

/***Header***/

header {
  min-height: 300 px;
}
header h1 {
  padding: 50px 0;
  /* color: #6ea3a2; */
  color: whitesmoke;
  font-family: "Lora";
  font-size: 30px;
}


nav {
  padding: 75px 10px;
  background:  rgba(36, 26, 26, 0.8);
}
nav ul li {
  display: inline-block;
}
nav li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: whitesmoke;
  padding-left: 40px;
  font-family: "Lora"
}

header h2 {
  clear: both;
  font-family: "Lora";
  font-size: 48px;
  line-height: 60px;
  color: whitesmoke;
  padding: 50px 0;
}
span {
  color: whitesmoke;
}
/****** ABOUT ******/
#about {
  background: rgba(36, 26, 26, 0.8);
  margin: 200px 30px 300px;
}

#about .full-width {
  padding: 80px 0;
}

#about h2 {
  font-family: Lora;
  font-size: 36px;
}
#about p {
  font-size: 21px;
  color: whitesmoke;
  line-height: 42px;
  padding-right: 50px;
}

/****** WORK ******/

.col-md-4 {
  padding: 50px 30px;
}

#work {
  background: rgba(36, 26, 26, 0.8);
  text-align: center;
  margin: 400px 30px;
}

#work img {
  padding-bottom: 30px;
}

#work h3 {
  font-family: "Lora";
  font-weight: 800;
  color: #2b5bbd;
  font-size: 24px;
  width: 190px;
  margin: 0 auto;
}

#work p {
  font-size: 18px;
  line-height: 30px;
  color: whitesmoke;
  padding: 0 35px;
}

#tech {
  background: rgba(36, 26, 26, 0.8);
  font-style: italic;
  margin-top: 400px;
  
}

#tech a {
  color: white;
}





/* Portfolio */

/* .col-lg-4.col-md-6.col-12 {
  margin: 30px;
} */

#portTitle {
  font-family: "Lora";
  font-size: 36px;
  text-align: center;
}
#portfolio-b {
  background: rgba(36, 26, 26, 0.8);
  padding: 60px 20px 120px;
  margin-bottom: 400px;
}

.code-icon {
  height: 100px;
  width: 100px;
}

/****** CONTACT ******/

#contact {
  padding: 60px 60px;
  margin: 80px 80px;
  background: rgba(36, 26, 26, 0.8);
  margin: 400px 30px;
}
#contact-img {
  border: 5px solid #ffffff;
}
/* #contact h2,
#email-header,
#socialmedia-header,
#contact ul {
  padding-left: 115px;
} */
#envelope {
  padding-left: 115px;
  margin-top: 20px;
}

h5 {
  padding-left: 115px;
  color: white;
}

#contact h2 {
  font-family: "Lora"
  font-size: 36px;
}
#email-header {
  font-size: 32px;
  font-weight: 400;
  margin: 5px 0 5px 0;
}
#socialmedia-header {
  font-size: 29px;
  margin: 40px 0 0px 0;
}
#contact a {
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
}
#contact ul {
  list-style: none;
}
#contact ul li {
  display: inline-block;
}
#contact ul img {
  font-size: 32px;
  padding-right: 48px;
}

.spacer {
  min-height: 200px;
}
#link{
  color:whitesmoke;
}

.img-responsve.code-icon{
  max-height: 320px;
  width: 30%;
  display: flex;
  justify-content: center;
}

.img-responsive{
  max-height: 320px;
  
  display: flex;
  justify-content: center;
}

div.col-lg-4.col-sm-6 {
  display: flex;
  justify-content: center;
}

/* .code-icon{
  height: 100px;
  width: 100px;
  background-color: whitesmoke;
  border-radius: 50%;
} */