/****** BASE STYLES ******/

/*color: #cb806f */

body {
  font-family: "Source Sans Pro", sans-serif;
  /* background: url(;   ("daniele-levis-pelusi.jpg")  */
  background-size: cover;
  color: whitesmoke;
  background: url(assets/images/sky.jpg) no-repeat center center fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0px;
}

/****** GRID ******/

.full-width {
  /*  width: 1200px; */
  margin: 0 auto;
}

/***Header***/

header {
  min-height: 800 px;
}
header h1 {
  padding: 50px 0;
  color: whitesmoke;
  font-family: "Poiret One", cursive;
  font-size: 30px;
}

nav {
  /* float: right; */
  padding: 75px 10px;
}
nav ul li {
  display: inline-block;
}
nav li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #2b5bbd;
  padding-left: 40px;
}

header h2 {
  clear: both;
  font-family: "Poiret One", cursive;
  font-size: 48px;
  line-height: 60px;
  color: whitesmoke;
  padding: 50px 0;
}
span {
  color: #2b5bbd;
}
/****** ABOUT ******/
#about {
  background: rgba(36, 26, 26, 0.3);
}

#about .full-width {
  padding: 80px 0;
}

#about h2 {
  font-family: "Poiret One", cursive;
  font-size: 36px;
}
#about p {
  font-size: 21px;
  color: whitesmoke;
  line-height: 42px;
  padding-right: 50px;
}

/****** WORK ******/

#work {
  background: rgba(36, 26, 26, 0.3);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#work img {
  padding-bottom: 30px;
}

#work h3 {
  font-family: "Poiret One", cursive;
  color: #2b5bbd;
  font-size: 24px;
  width: 190px;
  margin: 0 auto;
}

#work p {
  font-size: 18px;
  line-height: 30px;
  color: whitesmoke;
  padding: 0 35px;
}

#tech {
  font-style: italic;
  height: 50px;
}

#tech a {
  color: white;
}

/* Portfolio */

#portTitle {
  font-family: "Poiret One", cursive;
  font-size: 36px;
}
#portfolio-b {
  background: rgba(36, 26, 26, 0.3);
  padding: 60px 60px 120px;
  margin-bottom: 120px;
}
/****** CONTACT ******/

#contact {
  padding: 60px 60px;
  margin: 80px 80px;
  background: rgba(36, 26, 26, 0.3);
}
#contact-img {
  border: 5px solid #ffffff;
}
#contact h2,
#email-header,
#socialmedia-header,
#contact ul {
  padding-left: 115px;
}
#envelope {
  padding-left: 115px;
  margin-top: 20px;
}

h5 {
  padding-left: 115px;
  color: white;
}

#contact h2 {
  font-family: "Poiret One", cursive;
  font-size: 36px;
}
#email-header {
  font-size: 32px;
  font-weight: 400;
  margin: 5px 0 5px 0;
}
#socialmedia-header {
  font-size: 29px;
  margin: 40px 0 0px 0;
}
#contact a {
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
}
#contact ul {
  list-style: none;
}
#contact ul li {
  display: inline-block;
}
#contact ul img {
  font-size: 32px;
  padding-right: 48px;
}

.spacer {
  min-height: 200px;
}
