
/* Shared, general styles */

body {
    background-image: url("assets/images/sky.jpg");
    background-size: cover;
}

header {
    background-color: #ffffff;
    overflow: auto;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    border-bottom-color: #cccccc
}

#Name {
   flex-grow:1;
    background-color: #4aaaa5;
    text-align: center;
    margin-left: 12.5%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #ffffff;
    line-height: 80px;
}

#middle {
    min-height: 1px;
    visibility: hidden;
    flex-grow: 2;
    
}
nav{
    flex-grow: 1;
    margin-right: 12.5%;     
} 

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}

li {
    display: inline;
    text-align: center;
    margin: auto;
    padding-right: 15px;
    width: 33%;
}

#List2 {
    border-right: #cccccc solid 2px;
    border-left: #cccccc solid 2px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

main {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    border: #dddddd solid 2px;
    margin-top: 40px;
    margin-bottom: 120px;
}

/*Index*/

h1{
    color: #4aaaa5;
    Font-family: Lora;
}

p, li, form, a {
    font-family: 'Source Sans Pro', sans-serif;
   color: #777777;
   text-decoration: none;
   line-height: 32px;
}

#hide {
    visibility: hidden;
}

.woman {
    width: 200px;
    height: 200px;
    float: left;
    clear: none;
    margin-right: 30px;
    margin-top: 20px;
}

#wrap {
    float: none;
}
/*Contact */

#Contact {
    margin-left: 30px;
}

.margins {
    margin: 20px;
}
 
#InName, #InEmail {
    width: 100%;
    margin: 12px 0px;
    padding: 6px 6px;
    line-height: 20px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    margin:auto;
}

 
#button {
    background-color: #4aaaa5;
    Font-family: Lora;
    color: white;
    font-size: 24px;
    height: 45px;
    width: 115px;
    border: none;
    margin-top: 20px;
}

/*Portfolio*/

#Portfolio {
    margin-left: 30px;
}

.containerPort {
    display:grid;
    grid-template-columns: 300px 300px 300px;
    width: 960px;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
}

#Design{
    margin-top: 30px;
    margin-bottom: 30px;
    
}

#BizCode {
    margin-top: 30px;
    margin-bottom: 30px;
}

#Music {
    margin-top: 30px;
    margin-bottom: 30px; 
}


.banner1 {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    text-align:center;
    line-height: 40px;
    height: 40px;
    left: 15px;
    top: 220px;
    width: 300px;
}

.banner2 {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    text-align:center;
    line-height: 40px;
    height: 40px;
    left: 330px;
    top: 220px;
    width: 300px;
}

.banner3 {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    text-align:center;
    line-height: 40px;
    height: 40px;
    left: 645px;
    top: 220px;
    width: 300px;
}
.banner4 {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    text-align:center;
    line-height: 40px;
    height: 40px;
    left: 15px;
    bottom: 30px;
    width: 300px;
}

.banner5 {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    text-align:center;
    line-height: 40px;
    height: 40px;
    left: 330px;
    bottom:30px;
    width: 300px;
}

.banner6 {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    text-align:center;
    line-height: 40px;
    height: 40px;
    left: 645px;
    bottom: 15px;
    width: 300px;
}
    
    footer {
    background-color: #666666;
    border-top: #4aaaa5 solid 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
